body {
    background-color: #9bcdbd;
    display: flex;
    justify-content: center;
}

.grid {
    margin-top: 30px;
    width: 416px;
    height: 416px;
    border: dashed gray 8px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.grid div {
    width: 30px;
    height: 30px;
    border: solid white 0.5px;
    text-align: center;
    font-size: 24px;
}

.triple {
    background-color: #b0faf1;
}

.tile {
    background-color: #fffb96;
}